{% extends "base.html" %}
{% block content %}

<!-- <!DOCTYPE html>

<html> -->
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap"
            rel="stylesheet">   
        
        <title>Hi welcome to the biz marketplace!</title>
    </head>

    <div class="container col-x1-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg 7 text-center text-lg start">
                <h1 class="display-4 fw-bold lh-1 mb-3". style="color: white;"> Every business is an online business. Bring yours into the Internet age.</h1>
                <p class="lg-10 fs-4", style="color: #00FFF2;"> BMP is a marketplace for owner-centered businesses. Acquire. Grow. Sell. </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                
                <form class="p-4 p-md-5 border rounded-3 bg-light", action="" method="post">
                
                    
                    {{ form.hidden_tag()}}                                 
                    
                 
                   <div class="form-floating mb-3">                                        
                    {{ form.username(type="text",class_="form-control",id="floatingInput",placeholder="Username")}}                   
                    <label for="floatingInput">Username</label>
                  </div>
                    {% for error in form.username.errors %}
                      <span style="color: red;"> [{{ error }}]</span>
                    {% endfor %}                                   
                  <div class="form-floating mb-3">                                        
                    {{ form.password(type="password",class_="form-control",id="floatingPassword",placeholder="Password")}}                   
                    <label for="floatingPassword">{{form.password.label}}</label>
                  </div>
                    {% for error in form.password.errors %}
                    <span style="color: red;"> [{{ error }}]</span>
                    {% endfor %}
                  
                  <div class="checkbox mb-3">
                    <label>
                      <input type="checkbox" value="remember-me"> Remember me
                    </label>
                  </div>                  
                  
                  New User? Click to register:
                  <a href="{{ url_for('auth.register')}}"> Register</a>  

                  {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
                  
                  <hr class="my-4">
                  <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                </form>
            </div>
        </div>
    </div>


    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">BMP serves entrepreneurs looking to acquire something new, automate and grow their existing business, or sell their lifetime of work</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
            </div>
            <h2>Grow your business</h2>
            <p>Use our light-weight customer relationship system to transform your business into an online startup</p>
            <a href="#" class="icon-link">
              Grow
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
            </div>
            <h2>List and sell your business</h2>
            <p>Get the metrics to assess your business and maximize its value</p>
            <a href="#" class="icon-link">
              List
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
            </div>
            <h2>Acquire a business</h2>
            <p>Search through our catalog of fast growing business and start building your empire</p>
            <a href="#" class="icon-link">
              Acquire
              <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
        </div>
      </div>

      <div id="root"></div>
      
      <!-- <script src="../../../my-app/src/index.js"> </script>       -->
      <script src="{{ url_for('static', filename='index.js') }}"></script>










    
<!-- 

        If you have an account, please login below:
        <form action="" method="post" novalidate>
            {{ form.hidden_tag()}}
            <p>
                {{ form.username.label }} <br>
                {{ form.username(size=32)}}

                {% for error in form.username.errors %}
                <span style="color: red;"> [{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32)}}

                {% for error in form.password.errors %}
                <span style="color: red;"> [{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.remember_me.label }}<br>
                {{ form.remember_me()}}
            </p>
            <p>
                {{ form.submit() }}                
            </p>      
        </form>


       
     -->
    


       

        {% endblock %}


    <!-- </body>

</html> -->