
.grid,
.col-1-3 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;
  background-color:black;  
  color:white;
  border: 1px dotted white;  
}

body {
    background:#293f50;
    color:#648880;
    font-family:'Merriweather', serif;
    font-fmaily:'Playfair Disply', serif;
  }
  
  h1{
      margin: 10px;
      width: 400px;
      height: 20px;
      height: 20px;
      color:#648880;  
  }
  
  
  p{
      height: 35px;
      margin: 50px;
      font-size: 15px;
      color:white;
      font-family:'Merriweather', serif;
      font-fmaily:'Playfair Disply', serif;    
  }
  
  a {
    font-size: 20px;
    color:blue;
  }
  
  a:hover {
    color:red;
  }
  
  footer {
    clear: both;
  }

