<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}"> -->
        <link rel= "stylesheet" type= "text/css" href= "static/styles.css">

        <title>{{title}} - BizMP</title>
        Hi {{Users.username}} welcome to Biz Marketplace!
    </head>
        <body>
            <header> 
                <!-- <a href="index.html"> BizMp </a> -->
                <a href="{{ url_for('main.index') }}"> BizMp </a>                
                <nav> 
                    <a href="Listings.html"> Listings </a>
                    <a href="Login.html"> Login </a>
                    <a href="Rates.html"> Login </a>
                </nav>                                   
            </header>
            <h1> What is Biz Marketplace?</h1>

            <p>Biz Marketplace is for buying and selling service businesses which have a strong link to the owner
            For example, law, accounting, and other professional service firms where the owners
            have a strong relationship with customers</p>

            <article> Blog article #1: 5 steps to selling your business</article>


            

            <footer> <small> &COPY; 2021 BizMP </small></footer>

        </body>


</html>


<!-- layout of page - 
listings on left, articles on right
login top right -->