{% extends "base.html" %}
{% block content %}

<head>

    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap"
        rel="stylesheet">

 
</head>




<div class="row">
{% for listing in listings %}
    <div class="col-lg-4", style="background-color:blue; margin: 10px; border: 5px solid">        
        {{ listing.bizname }}
        {{ listing.description }} ( {{ listing.city }}, {{ listing.country }})
    </div>
{% endfor %}
</div>


<div class="album py-5 bg-light">
    <div class="container">   
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for listing in listings %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">
                {{ listing.bizname }}
                {{ listing.description }} ( {{ listing.city }}, {{ listing.country }}</p>                                                    
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Contact</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>




















<a href="{{ url_for('auth.newbiz') }}"> Register a new business</a>

<!-- 

<div class="row">
    <div class="col-6" , style="background-color:red; border: 1px solid"> Hi </div>
    <div class="col-6", style="background-color:red; border: 1px solid"> Hi </div>
</div>

 -->




{% endblock %}