{% extends "base.html" %}
{% block content %}

<head>

    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap"
        rel="stylesheet">

 
</head>



<h1> Hi {{current_user.username}}</h1>
<a href="{{ url_for('auth.newbiz') }}"> Register a new business</a>
<h2> What is Biz Marketplace?</h2>









{% endblock %}